In [1]:
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
from azureml.core import Workspace, Dataset

subscription_id = 'a0a76bad-11a1-4a2d-9887-97a29122c8ed'
resource_group = 'aml-quickstarts-167926'
workspace_name = 'quick-starts-ws-167926'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='bike')
df = dataset.to_pandas_dataframe()

## Data Exploration

In [2]:
df.shape

(731, 14)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 14 columns):
instant       731 non-null int64
date          731 non-null datetime64[ns]
season        731 non-null int64
yr            731 non-null int64
mnth          731 non-null int64
weekday       731 non-null int64
weathersit    731 non-null int64
temp          731 non-null float64
atemp         731 non-null float64
hum           731 non-null float64
windspeed     731 non-null float64
casual        731 non-null int64
registered    731 non-null int64
cnt           731 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(9)
memory usage: 80.1 KB

In [6]:
df.dtypes

instant                int64
date          datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
weekday                int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [7]:
df.isnull().sum()

instant       0
date          0
season        0
yr            0
mnth          0
weekday       0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [9]:
df.describe()

,instant,season,yr,mnth,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,2.997264,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,2.004787,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,1.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,3.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,5.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,6.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [10]:
df.head()

,instant,date,season,yr,mnth,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,6,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,2,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,3,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

## Workspace

In [11]:
from azureml.core import Workspace

In [12]:
ws = Workspace.from_config()

In [16]:
ws

Workspace.create(name='quick-starts-ws-167926', subscription_id='a0a76bad-11a1-4a2d-9887-97a29122c8ed', resource_group='aml-quickstarts-167926')

In [17]:
ws.name

'quick-starts-ws-167926'

In [18]:
ws.subscription_id

'a0a76bad-11a1-4a2d-9887-97a29122c8ed'

In [19]:
ws.resource_group

'aml-quickstarts-167926'

In [13]:
ws.get_details()

{'id': '/subscriptions/a0a76bad-11a1-4a2d-9887-97a29122c8ed/resourceGroups/aml-quickstarts-167926/providers/Microsoft.MachineLearningServices/workspaces/quick-starts-ws-167926',
 'name': 'quick-starts-ws-167926',
 'identity': {'principal_id': '2aec12ac-97d5-40c2-98a6-f22186eedfc9',
  'tenant_id': '660b3398-b80e-49d2-bc5b-ac1dc93b5254',
  'type': 'SystemAssigned'},
 'location': 'southcentralus',
 'type': 'Microsoft.MachineLearningServices/workspaces',
 'tags': {},
 'sku': 'Basic',
 'workspaceid': '8c93db11-1495-4b3d-81eb-6cf94c2786f8',
 'sdkTelemetryAppInsightsKey': 'd83d49eb-3973-4a30-937a-eb3fc2d37c24',
 'description': '',
 'friendlyName': '',
 'creationTime': '2021-12-22T16:09:19.1423997+00:00',
 'keyVault': '/subscriptions/a0a76bad-11a1-4a2d-9887-97a29122c8ed/resourcegroups/aml-quickstarts-167926/providers/microsoft.keyvault/vaults/mlkeyvault167926',
 'applicationInsights': '/subscriptions/a0a76bad-11a1-4a2d-9887-97a29122c8ed/resourcegroups/aml-quickstarts-167926/providers/microsoft.insights/components/mlappinsight167926',
 'storageAccount': '/subscriptions/a0a76bad-11a1-4a2d-9887-97a29122c8ed/resourcegroups/aml-quickstarts-167926/providers/microsoft.storage/storageaccounts/mlstrg167926',
 'hbiWorkspace': False,
 'allowPublicAccessWhenBehindVnet': False,
 'provisioningState': 'Succeeded',
 'discoveryUrl': 'https://southcentralus.api.azureml.ms/discovery',
 'notebookInfo': {'fqdn': 'ml-quick-st-southcentralus-8c93db11-1495-4b3d-81eb-6cf94c2786f8.southcentralus.notebooks.azure.net',
  'resource_id': '6f471b021d6146c29435ffb2d2bb26dd'}}

In [15]:
ws.get_details()['name']

'quick-starts-ws-167926'

## Storage

In [20]:
from azureml.core import Datastore

In [21]:
ds = Datastore.get_default(ws)

In [22]:
ds

{
  "name": "workspaceblobstore",
  "container_name": "azureml-blobstore-8c93db11-1495-4b3d-81eb-6cf94c2786f8",
  "account_name": "mlstrg167926",
  "protocol": "https",
  "endpoint": "core.windows.net"
}

In [23]:
ds.name

'workspaceblobstore'

In [24]:
ds.container_name

'azureml-blobstore-8c93db11-1495-4b3d-81eb-6cf94c2786f8'

Open a dataframe from a csv and upload it to the datastore

In [70]:
dataset_pima = Dataset.get_by_name(ws, name='diabetes')
pima_df = dataset_pima.to_pandas_dataframe()

In [71]:
pima_df.shape

(768, 9)

In [72]:
pima_df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [73]:
pima_df.columns= ['pregnancies', 'glucose', 'bp', 'skinthick', 'insulin',
       'bmi', 'dbf', 'age', 'outcome']

In [74]:
pima_df.head(5)

   pregnancies  glucose  bp  skinthick  insulin   bmi    dbf  age  outcome
0            6      148  72         35        0  33.6  0.627   50        1
1            1       85  66         29        0  26.6  0.351   31        0
2            8      183  64          0        0  23.3  0.672   32        1
3            1       89  66         23       94  28.1  0.167   21        0
4            0      137  40         35      168  43.1  2.288   33        1

In [75]:
pima_df.describe()

,pregnancies,glucose,bp,skinthick,insulin,bmi,dbf,age,outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [36]:
import numpy as np

In [76]:
pima_df[['glucose', 'bp', 'skinthick', 'insulin', 'bmi']] = pima_df[['glucose', 'bp', 'skinthick', 'insulin', 'bmi']].replace(0, np.nan)

In [77]:
pima_df.head(20)

    pregnancies  glucose    bp  skinthick  insulin   bmi    dbf  age  outcome
0             6    148.0  72.0       35.0      NaN  33.6  0.627   50        1
1             1     85.0  66.0       29.0      NaN  26.6  0.351   31        0
2             8    183.0  64.0        NaN      NaN  23.3  0.672   32        1
3             1     89.0  66.0       23.0     94.0  28.1  0.167   21        0
4             0    137.0  40.0       35.0    168.0  43.1  2.288   33        1
5             5    116.0  74.0        NaN      NaN  25.6  0.201   30        0
6             3     78.0  50.0       32.0     88.0  31.0  0.248   26        1
7            10    115.0   NaN        NaN      NaN  35.3  0.134   29        0
8             2    197.0  70.0       45.0    543.0  30.5  0.158   53        1
9             8    125.0  96.0        NaN      NaN   NaN  0.232   54        1
10            4    110.0  92.0        NaN      NaN  37.6  0.191   30        0
11           10    168.0  74.0        NaN      NaN  38.0  0.537   34        1
12           10    139.0  80.0        NaN      NaN  27.1  1.441   57        0
13            1    189.0  60.0       23.0    846.0  30.1  0.398   59        1
14            5    166.0  72.0       19.0    175.0  25.8  0.587   51        1
15            7    100.0   NaN        NaN      NaN  30.0  0.484   32        1
16            0    118.0  84.0       47.0    230.0  45.8  0.551   31        1
17            7    107.0  74.0        NaN      NaN  29.6  0.254   31        1
18            1    103.0  30.0       38.0     83.0  43.3  0.183   33        0
19            1    115.0  70.0       30.0     96.0  34.6  0.529   32        1

In [78]:
pima_df.isnull().sum()

pregnancies      0
glucose          5
bp              35
skinthick      227
insulin        374
bmi             11
dbf              0
age              0
outcome          0
dtype: int64

In [79]:
Dataset.Tabular.register_pandas_dataframe(pima_df, ds, "pima", show_progress=True)

Validating arguments.
Arguments validated.
Successfully obtained datastore reference and path.
Uploading file to managed-dataset/6bc6001d-ed31-4039-b17c-c30b93a436c9/
Successfully uploaded file to datastore.
Creating and registering a new dataset.
Successfully created and registered a new dataset.

{
  "source": [
    "('workspaceblobstore', 'managed-dataset/6bc6001d-ed31-4039-b17c-c30b93a436c9/')"
  ],
  "definition": [
    "GetDatastoreFiles",
    "ReadParquetFile",
    "DropColumns"
  ],
  "registration": {
    "id": "0e7bd824-f4bb-4160-8b9e-4e7712d61ec3",
    "name": "pima",
    "version": 1,
    "workspace": "Workspace.create(name='quick-starts-ws-167926', subscription_id='a0a76bad-11a1-4a2d-9887-97a29122c8ed', resource_group='aml-quickstarts-167926')"
  }
}

In [80]:
pima_dataset = Dataset.get_by_name(workspace, name='pima')
pima_df = pima_dataset.to_pandas_dataframe()

In [81]:
pima_df.shape

(768, 9)

In [82]:
pima_df.head()

   pregnancies  glucose    bp  skinthick  insulin   bmi    dbf  age  outcome
0            6    148.0  72.0       35.0      NaN  33.6  0.627   50        1
1            1     85.0  66.0       29.0      NaN  26.6  0.351   31        0
2            8    183.0  64.0        NaN      NaN  23.3  0.672   32        1
3            1     89.0  66.0       23.0     94.0  28.1  0.167   21        0
4            0    137.0  40.0       35.0    168.0  43.1  2.288   33        1

## AutoML on Pima using Python SDK

In [65]:
from azureml.core.compute import ComputeTarget, AmlCompute

In [66]:
ComputeTarget.list(workspace=ws)

[AmlCompute(workspace=Workspace.create(name='quick-starts-ws-167926', subscription_id='a0a76bad-11a1-4a2d-9887-97a29122c8ed', resource_group='aml-quickstarts-167926'), name=aml-compute, id=/subscriptions/a0a76bad-11a1-4a2d-9887-97a29122c8ed/resourceGroups/aml-quickstarts-167926/providers/Microsoft.MachineLearningServices/workspaces/quick-starts-ws-167926/computes/aml-compute, type=AmlCompute, provisioning_state=Succeeded, location=southcentralus, tags={}),
 {
   "id": "/subscriptions/a0a76bad-11a1-4a2d-9887-97a29122c8ed/resourceGroups/aml-quickstarts-167926/providers/Microsoft.MachineLearningServices/workspaces/quick-starts-ws-167926/computes/jupy",
   "name": "jupy",
   "location": "southcentralus",
   "tags": {},
   "properties": {
     "description": null,
     "computeType": "ComputeInstance",
     "computeLocation": "southcentralus",
     "resourceId": null,
     "provisioningErrors": null,
     "provisioningState": "Succeeded",
     "properties": {
       "vmSize": "STANDARD_DS3_V2",
       "applications": [
         {
           "displayName": "Jupyter",
           "endpointUri": "https://jupy.southcentralus.instances.azureml.ms/tree/"
         },
         {
           "displayName": "Jupyter Lab",
           "endpointUri": "https://jupy.southcentralus.instances.azureml.ms/lab"
         },
         {
           "displayName": "RStudio",
           "endpointUri": "https://jupy-8787.southcentralus.instances.azureml.ms"
         }
       ],
       "connectivityEndpoints": {
         "publicIpAddress": "13.66.88.196",
         "privateIpAddress": "10.0.0.5"
       },
       "sshSettings": {
         "sshPublicAccess": "Disabled",
         "adminUserName": "azureuser",
         "adminPublicKey": null,
         "sshPort": 4001
       },
       "personalComputeInstanceSettings": null,
       "subnet": {
         "id": null
       },
       "errors": []
     },
     "status": {
       "errors": [],
       "creationTime": "2021-12-22T16:36:04.700849+00:00",
       "createdBy": {
         "userObjectId": "a993b532-4dbd-467c-b3da-74402b8c5ea2",
         "userTenantId": "660b3398-b80e-49d2-bc5b-ac1dc93b5254",
         "userName": null
       },
       "modifiedTime": "2021-12-22T16:38:36.683291+00:00",
       "state": "Running",
       "vmSize": "STANDARD_DS3_V2"
     }
   }
 }]

In [68]:
compute_cluster = AmlCompute(workspace= ws, name='aml-compute')

In [83]:
from azureml.train.automl import AutoMLConfig

# If you wish to run the experiment longer, you will need to run this notebook in your own
# Azure tenant, which will incur personal costs.
automl_config = AutoMLConfig(
    experiment_timeout_minutes=30,
    compute_target=compute_cluster,
    task='classification',
    primary_metric='accuracy',
    training_data=pima_dataset,
    label_column_name='outcome',
    n_cross_validations=5)

In [85]:
from azureml.core import Experiment

In [86]:
pima_class_exp = Experiment(ws,name='pima_class_exp')

In [87]:
pima_automl_run = pima_class_exp.submit(automl_config, show_output=True)

Submitting remote run.
No run_configuration provided, running on aml-compute with default configuration
Running on remote compute: aml-compute

Current status: FeaturesGeneration. Generating features for the dataset.
Current status: DatasetCrossValidationSplit. Generating individually featurized CV splits.
Current status: ModelSelection. Beginning model selection.

****************************************************************************************************
DATA GUARDRAILS:

TYPE:         Class balancing detection
STATUS:       PASSED
DESCRIPTION:  Your inputs were analyzed, and all classes are balanced in your training data.
              Learn more about imbalanced data: https://aka.ms/AutomatedMLImbalancedData

****************************************************************************************************

TYPE:         Missing feature values imputation
STATUS:       DONE
DESCRIPTION:  If the missing values are expected, let the run complete. Otherwise cancel the current run and use a script to customize the handling of missing feature values that may be more appropriate based on the data type and business requirement.
              Learn more about missing value imputation: https://aka.ms/AutomatedMLFeaturization
DETAILS:
+---------------------------------+---------------------------------+---------------------------------+
|Column name                      |Missing value count              |Imputation type                  |
+=================================+=================================+=================================+
|glucose                          |5                                |mean                             |
|bp                               |35                               |mean                             |
|skinthick                        |227                              |mean                             |
|insulin                          |374                              |mean                             |
|bmi                              |11                               |mean                             |
+---------------------------------+---------------------------------+---------------------------------+

****************************************************************************************************

TYPE:         High cardinality feature detection
STATUS:       PASSED
DESCRIPTION:  Your inputs were analyzed, and no high cardinality features were detected.
              Learn more about high cardinality feature handling: https://aka.ms/AutomatedMLFeaturization

****************************************************************************************************

****************************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
****************************************************************************************************

 ITERATION   PIPELINE                                       DURATION      METRIC      BEST
         0   MaxAbsScaler LightGBM                          0:00:30       0.7461    0.7461
         1   MaxAbsScaler XGBoostClassifier                 0:00:29       0.7669    0.7669
         2   MaxAbsScaler ExtremeRandomTrees                0:00:29       0.7461    0.7669
         3   SparseNormalizer XGBoostClassifier             0:00:28       0.7566    0.7669
         4   MaxAbsScaler LightGBM                          0:00:28       0.7605    0.7669
         5   MaxAbsScaler LightGBM                          0:00:29       0.7436    0.7669
         6   StandardScalerWrapper XGBoostClassifier        0:00:27       0.7553    0.7669
         7   MaxAbsScaler LogisticRegression                0:00:29       0.7644    0.7669
         8   StandardScalerWrapper ExtremeRandomTrees       0:00:30       0.6511    0.7669
         9   StandardScalerWrapper XGBoostClassifier        0:00:29       0.7618    0.7669
        10   SparseNormalizer LightGBM                      0:00:31       0.7683    0.7683
        11   StandardScalerWrapper XGBoostClassifier        0:00:28       0.7526    0.7683
        12   MaxAbsScaler LogisticRegression                0:00:29       0.7591    0.7683
        13   MaxAbsScaler SGD                               0:00:28       0.7514    0.7683
        14   StandardScalerWrapper XGBoostClassifier        0:00:28       0.7748    0.7748
        15   SparseNormalizer RandomForest                  0:00:29       0.7578    0.7748
        16   StandardScalerWrapper LogisticRegression       0:00:28       0.7657    0.7748
        17   StandardScalerWrapper RandomForest             0:00:29       0.7656    0.7748
        18   StandardScalerWrapper XGBoostClassifier        0:00:28       0.7579    0.7748
        19   TruncatedSVDWrapper RandomForest               0:00:39       0.7331    0.7748
        20   TruncatedSVDWrapper RandomForest               0:00:33       0.7578    0.7748
        21   StandardScalerWrapper XGBoostClassifier        0:00:27       0.7539    0.7748
        22   StandardScalerWrapper XGBoostClassifier        0:00:29       0.7605    0.7748
        23   SparseNormalizer XGBoostClassifier             0:00:27       0.7579    0.7748
        24   SparseNormalizer XGBoostClassifier             0:00:33       0.7605    0.7748
        25   SparseNormalizer XGBoostClassifier             0:00:43       0.7462    0.7748
        26   SparseNormalizer XGBoostClassifier             0:00:28       0.7644    0.7748
        27   SparseNormalizer XGBoostClassifier             0:00:27       0.7605    0.7748
        28   StandardScalerWrapper RandomForest             0:00:32       0.7605    0.7748
        29   MaxAbsScaler RandomForest                      0:00:39       0.7566    0.7748
        30    VotingEnsemble                                0:01:01       0.7852    0.7852
        31    StackEnsemble                                 0:00:48       0.7709    0.7852

In [88]:
pima_automl_best_run_metrics = pima_automl_run.get_metrics()

In [89]:
pima_automl_best_run_metrics['accuracy']

0.785204991087344

In [90]:
best_run = pima_automl_run.get_best_child()

In [91]:
best_run

Run(Experiment: pima_class_exp,
Id: AutoML_66803a03-feb1-4831-96d0-2f4c31458f06_30,
Type: azureml.scriptrun,
Status: Completed)

In [92]:
model_name = best_run.properties['model_name']
description = 'Pima set AutoML best run'
tags = None

In [93]:
model_name

'AutoML66803a03f30'

In [94]:
pima_best_automl_model = pima_automl_run.register_model(model_name = model_name, 
                                  description = description, 
                                  tags = tags)

## Deployment (endpoint)

In [99]:
from azureml.core.webservice import Webservice

# Set with the deployment name
name = 'pima-deploy-02'
# load existing web service
service = Webservice(name=name, workspace=ws)

WebserviceException: WebserviceException:
	Message: WebserviceNotFound: Webservice with name pima-deploy-02 not found in provided workspace
	InnerException None
	ErrorResponse
{
    "error": {
        "message": "WebserviceNotFound: Webservice with name pima-deploy-02 not found in provided workspace"
    }
}

In [ ]:

# enable application insight
service.update(enable_app_insights=True)

logs = service.get_logs()

for line in logs.split('\n'):
    print(line)